# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\activiti\最新工作流引擎Activiti7基础与进阶\资料-最新工作流引擎Activiti7基础与进阶\Activiti7最新工作引擎资料\代码\activiti01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
